body {
  background-color: #e36888;
  font-family: 'Playfair Display', 'Georgia', serif;
  font-style: italic;
  font-weight: 400;
}

h1 {
  color: rgb(230, 227, 227);
  text-align: center;
}

.infobox {
  padding: 10px;
  margin: 10px;
  color: rgb(230, 227, 227);
}